<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="xunit.methodDisplay" value="method"/>
  </appSettings>
  <connectionStrings>
    <add name="PNPContext" connectionString="data source=10.20.76.17;initial catalog=PNP;persist security info=True;user id=kirkpatrickj;password=test2A;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
